<div class="recent-winners">
    <div class="recent-winners-heading">Recent Winners</div>
    <a href="#" class="view-more-link">View More</a>
  </div>
  
  <div class="prizes-container">
    <div class="prizes-header">Prizes</div>
    <div class="prizes-description">
      Play for your chance to win prizes when you peel off the box and when you peel in app!
    </div>

    <div class="prizes-boxes">
      <div class="prizes-row">

        <div class="colored-box" sty    le="background: #FFDC00;">
          <div class="box-image">
            <img src="assets/images/Prizes/prize-car.png" alt="Collect to Win On-Box Prizes">
          </div>
          <div class="box-text">Collect to Win On-Box Prizes</div>
        </div>

        <div class="colored-box" style="background: #FFB600;">
          <div class="box-image">
            <img src="assets/images/Prizes/prize-money.png" alt="Instant Win Prizes">
          </div>
          <div class="box-text">Instant Win Prizes</div>
        </div>
      </div>

      <div class="prizes-row">
        <div class="colored-box" style="background: #FFB600;">
          <div class="box-image">
            <img src="assets/images/Prizes/prize-leon.png" alt="Draw Prizes">
          </div>
          <div class="box-text">Draw Prizes</div>
        </div>

        <div class="colored-box" style="background: #FFDC00;">
          <div class="box-image">
            <img src="assets/images/Prizes/prize-cereal.png" alt="Instant Win App Prizes">
          </div>
          <div class="box-text">Instant Win App Prizes</div>
        </div>

      </div>
    </div>
  </div>