<footer>
    <img src="assets/icons/slogan-cash-prize-play-now.svg" alt="Cash Prize Play Now" class="cash-prize-play-slogan">
  
    <img src="assets/images/tiger.png" alt="Tony the Tiger" class="tiger-image">
  
    <img src="assets/images/squares.png" alt="Squares" class="squares-bottom">
  
    <img src="assets/images/Money/money-3.png" alt="Money Bill 1" class="money-bill money-bill-1">
    <img src="assets/images/Money/money-3.png" alt="Money Bill 2" class="money-bill money-bill-2">
    <img src="assets/images/Money/money-2.png" alt="Money Bill 3" class="money-bill money-bill-3">
    <img src="assets/images/Money/money-1.png" alt="Money Bill 4" class="money-bill money-bill-4">
    <img src="assets/images/Money/money-2.png" alt="Money Bill 5" class="money-bill money-bill-5">
    <img src="assets/images/Money/money-2.png" alt="Money Bill 6" class="money-bill money-bill-6">
    <img src="assets/images/Money/money-3.png" alt="Money Bill 7" class="money-bill money-bill-7">
  </footer>