<header>

  <img src="assets/images/header-logo.png" alt="Kelloggs Double Play" class="header-logo">

  <div class="menu-button">
    <div class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="menu-text">Menu</div>
  </div>

  <img src="assets/images/coco.png" alt="Coco" class="coco">

  <div class="text-prize">
    <p><span>&lt;Name&gt;,</span><br>You've won a prize!</p>
  </div>

  <button class="button-claim-prize">Claim Prize</button>

  <img src="assets/images/squares.png" alt="Squares" class="squares-top">

  <img src="assets/images/Money/money-1.png" alt="Money Bill 1" class="money-bill money-bill-1">
  <img src="assets/images/Money/money-2.png" alt="Money Bill 2" class="money-bill money-bill-2">
  <img src="assets/images/Money/money-2.png" alt="Money Bill 3" class="money-bill money-bill-3">
  <img src="assets/images/Money/money-3.png" alt="Money Bill 4" class="money-bill money-bill-4">
  <img src="assets/images/Money/money-1.png" alt="Money Bill 5" class="money-bill money-bill-5">

</header>